<section>
  <article>
    
    <h3>Pipes padrão</h3>

    <p>Título: {{ livro.titulo | lowercase | uppercase }}</p>
    <p>Rating: {{ livro.rating | number:'1.1-1' }}</p>
    <p>Páginas: {{ livro.numeroPaginas }}</p>
    <p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
    <p>Data de lançamento: {{ livro.dataLancamento | date:'longDate' }}</p>

    <br>

    <p>Livro: {{ livro | json }}</p>

  </article>
</section>

<section>
    <article>
      
      <h3>Pipes customizados</h3>
      
      <p>Título: {{ livro.titulo | camelCase }}</p>
      
  
    </article>
  </section>