<section>
  <article>
    <h3>Diretiva <i>ngClass</i></h3>

    <p>
      Usando o class binding:
      <span class="glyphicon" aria-hidden="true" style="font-size: 30px"
        [class.glyphicon-star] = "favorito"
        [class.glyphicon-star-empty] = "!favorito"
        (click) = "favorito = !favorito"></span>
    </p>

    <p>
      Usando o <i>ngClass:</i>
      <span class="glyphicon" aria-hidden="true" style="font-size: 30px"
        [ngClass] = "{
          'glyphicon-star': favorito2,
          'glyphicon-star-empty': !favorito2
        }"
        (click) = "favorito2 = !favorito2"></span>
    </p>

  </article>
</section>

<section>
  <article>
    <h3>Diretiva <i>ng-content</i></h3>
    
    <ng-content></ng-content>
    <br/><br/>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <ng-content select=".titulo"></ng-content>
      </div>
      <div class="panel-body">
        <ng-content select=".corpo"></ng-content>
      </div>
    </div>
  </article>
</section>

<section>
  <article>
    <h3>Diretivas customizadas</h3>

    <p fundoAmarelo>Este texto utiliza uma diretiva que deixa o fundo amarelo.</p>

    <div fundoAmarelo style="width: 200px; height: 100px;"> Este div também usa a diretiva que deixa o fundo amarelo.</div><br/>
    
    <button fundoAmarelo>Do nothing!</button> Este botão não é acessado pela diretiva.

    <br/><br/>

    <p mouseHighlight>Este texto será marcado apenas pelo ponteiro.</p>
    
    <p [highlight]="'cyan'" [defaultColor]="'grey'">
      Este texto utiliza uma diretiva para adicionar cores customizadas.
    </p>

    <div *ngIf="favorito3">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Favoritado
    </div>

    <div *ngElse="favorito3">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      Não favoritado
    </div>

    <button (click)="favorito3 = !favorito3">Favoritar</button>

  </article>
</section>
